@{
  Layout = "_Layout";
}
<div class="jumbotron">
  <div class="salon-name">
    <h1>Eau Claire's Salon</h1>
  </div>
  <br />
  <br />
  <h5>•Keep track of stylists and clients•</h5>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("See all clients", "Index", "Clients")</p>