@{
  Layout = "_Layout";
}

<h1>Welcome to Eau Claire's Salon!</h1>
<h2>Do you need to view all stylists or clients?</h2>
<br />
<br />
<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("See all clients", "Index", "Clients")</p>